<div class="container p-5">
    <div class="row">
        <img src="{{album.images[0].url}}" heigt="240" width="240" class="rounded mx-auto float-left">
        <div class="col mx-auto">
            <h3>{{album.name}}</h3>
            <h5>Artists</h5>
            <ul>
                <li *ngFor="let art of album.artists">{{ art.name }}</li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>

        </thead>
        <tbody>
            <tr *ngFor="let track of tracks">

                <td>{{track.name}}</td>
                <td>{{track.duration_ms | date : 'mm:ss'}}</td>
                <td><audio controls>
                        <source src="{{track.preview_url}}" type="audio/mpeg">
                        </audio></td>
            </tr>
        </tbody>
    </table>
</div>