<div class="card h-100" (click)="showAlbum()">
    <div class="row no-gutters">
        <div class="col-md-5">
            <img src="{{album.images[0]?.url}}" heigt="300" width="300" class="card-img-top rounded mx-auto float-left">
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title">{{album.name}}</h5>
                <div class="card-text">
                    <h6>Year: {{album.release_date | date: 'yyyy'}}</h6>
                    <h6>Artists</h6>
                    <ul>
                        <li *ngFor="let art of album.artists">{{ art.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>