<div class="container">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">search</span>
        </div>
        <input id="typeahead-basic" type="text" class="form-control" placeholder="Artist Name..." [ngModel]="artistItem"
            (ngModelChange)="getArtista($event)" [ngbTypeahead]="searchArtist" [resultTemplate]="rt"
            [inputFormatter]="formatter" aria-describedby="basic-addon1" />
    </div>
</div>

<ng-template #rt let-r="result" let-t="term" href="r.href">
    <img [src]="r.images[2]?.url" class="mr-1" style="width: 16px">
    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
</ng-template>