<div class="card h-100">
    <div class="row no-gutters">
        <div class="col-md-5">
            <img src="{{track.album.images[0].url}}" heigt="300" width="300"
                class="card-img-top rounded mx-auto float-left" (click)="open()">
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title">{{track.name}}</h5>
                <div class="card-text">
                    <h6>{{track.album.name}}</h6>
                    <h6>Artists</h6>
                    <ul>
                        <li *ngFor="let art of track.artists">{{ art.name }}</li>
                    </ul>
                    <button type="button" class="btn btn-success" (click)="removeTrack()">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>